#####################
# Project Specific
#####################
HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

#####################
# Node
#####################
/node/
node_temp/
node_modules/
npm-debug.log.*

#####################
# Maven
#####################
/log/
/target/

#####################
# Gradle
#####################
.gradle
/build/

#####################
# Gradle Wrapper
#####################
!gradle/wrapper/gradle-wrapper.jar

#####################
# Packages Files
#####################
*.jar
*.war
*.ear
*.db

#####################
# SASS
#####################
.sass-cache/

#####################
# Directories
#####################
/bin/
/deploy/

#####################
# Logs
#####################
*.log

#####################
# Others
#####################
*.class
.merge_file*

#####################
# STS
#####################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

#####################
# IntelliJ IDEA
#####################
.idea
*.iws
*.iml
*.ipr

#####################
# NetBeans
#####################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

#####################
# VS Code
#####################
.vscode/

#####################
# Windows
#####################
Thumbs.db

#####################
# Eclipse
#####################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.sswp
local.properties
.loadpath
.factorypath
*.launch
.cproject
.buildpath
.externalToolBuilders/**