<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List Of Owners</title>
</head>
<body>
<h2 th:text="'List of Owners'">List of Owners..</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" style="width: 150px;">Id</th>
        <th scope="col" style="width: 150px;">FirstName</th>
        <th scope="col" style="width: 150px;">LastName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">joe</td>
        <td th:text="${owner.lastName}">blog</td>
    </tr>
    </tbody>
</table>
</body>
</html>